services:
  redis:
    image: redis:alpine
    container_name:  monorepo-redis
    hostname: redis
    restart: unless-stopped
    networks:
      - default

networks:
  default:
    name: monorepo-network
    external: true
